[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
tensorflow = "*"
pypdf2 = "*"
textract = "*"
jupyterlab = "*"
beautifulsoup4 = "*"
pandas = "*"
pytest = "*"

[requires]
python_version = "3.8"
